<h1>Bloggy: made with Ruby on Rails</h1>

<h2>Welcome to Bloggy: one blog, one learning curve</h2>

<p>This is a very basic, stripped down blog made with Rails. I learned a lot about
Rails, Rails and Agile Development.</p>

<button>
    <%= link_to 'My Blog', controller: 'articles' %>
</button>
