<h2>Bloggy: made with Ruby on Rails</h2>

<h3>Welcome to Bloggy: one blog, one learning curve</h3>

<p>This is a very basic, stripped down blog made with Rails. I learned a lot about
Rails, Rails and Agile Development.</p>

<button>
    <%= link_to 'View Blog', controller: 'articles' %>
</button>
<hr />
